* {
    font-family: arial, tahoma, verdana, sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
}


html,body{
  height:100%;
  margin:0px;
  padding:0px
  font-family: arial, tahoma, verdana, sans-serif;
  font-size: 13px;
  color: #000;
  min-width: 980px;  
}

div, p, img, a, td, ul, ol,li {
outline: 0;
}

a, img { 
outline: none; 
outline: 0;
}

a:hover, a:active, a:focus {
outline: 0;
}

ol {
    
}
ol li {
    
}
h1, h4 {
	
}

h1 { 
  
}

h2 { 
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

h3 { 
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}

h4 { 

}

p {
}

a, a:link { 
  color: #0057a0;
}

a:hover { 

}


a img, img {
    border: none;
}


table.maxtable {
  width: 100%;
  height: 100%;
  border-width: 0px; 
  border-collapse: collapse;  
  vertical-align: top;
}


.blue{
color: #0057a0;
}







.navbar-nav li a { 
  font-size:12px;
}

  
.navbar-nav > li > a { 
  padding-top: 5px !important; 
  padding-bottom: 5px !important; 

  }

.navbar { 
min-height: 32px !important; 
margin-bottom: 0px; 
background: linear-gradient(to bottom, #3792B9 0%, #087FAD 100%) repeat scroll 0% 0% transparent;
}


.navbar-brand { 
padding: 5px;
padding-left: 10px;
padding-right: 10px;  
height: 30px;

}












.navbar-default {
	background-color: #087fad;
	border-color: #209ccc;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #209ccc;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #209ccc;
}
.navbar-default .navbar-toggle {
	border-color: #209ccc;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #209ccc;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #209ccc;
	}
}









.dropdown-submenu{
    position:relative;
}
 
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
 
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
 
.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
 
.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}
 
.dropdown-submenu .pull-left{
    float:none;
}
 
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
 
 
 
 
 
.btn-group-xs > .btn {
    font-size: 13px;
}

.btn-group-xs > .btn *{
    font-size: 13px;
} 


.btn-group-xs > .btn span{
font-size: 11px;
padding: 2px;
padding-right: 4px;
} 



.btn-group-select_item > .btn {
padding:4px;
}

.help_text ul{
  margin-left:20px;
}

.help_text pre{
  margin:10px;
  margin-left:20px;
  margin-right:20px;
}


.dropdown-menu-sm{
  font-size:12px;
}

