* {
    font-family: arial, tahoma, verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 12px;
    color: #000;
    min-width: 980px;  
}

div, p, img, a, td, ul, ol {
    
}

a, img { outline: none; }

ol {
    
}
ol li {
    
}
h1, h4 {
	
}

h1 { 
  
}

h2 { 
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

h3 { 
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}

h4 { 

}

p {
  padding: 2 0 2 0px;
  margin:0px;
}

a, a:link { 
  color: #0057a0;
}

a:hover { 

}


a img, img {
    border: none;
}

ul,ol {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

li {
line-height: 12px;
}

table {
  width: 100%;
  height: 100%;
  border-width: 0px; 
  border-collapse: collapse;  
  vertical-align: top;
}


html,body{
height:100%;
margin:0px;
padding:0px
}

.blue{
color: #0057a0;
}

select{

padding:2px 0 2px 8px;
height:20px;

}

